/* CSS Document */
#container{
	width:900px;
	margin:0 auto;
	background-color:#FFD700;
	}

#header{
	background-color:#FFA500;
	text-align:center;
	height:50px;
	}

#menu{
	background-color:#FFD700;
	height:100%;
	min-height:550px;
	width:250px;
	float:left;
	}
#content{
	background-color:#EEEEEE;
	height:100%;
	min-height:550px;
	width:650px;
	float:left;
	}

#footer{
	background-color:#FFA500;
	clear:both;
	text-align:center;
	}
	
h1{
	margin-bottom:0;
	}